html {
  font-size: 62.5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  margin-top: 20%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  display: flex;
}

button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

body {
  font-family: Hanken Grotesk;
  margin: 0;
}


/*****************************
  Mobile Layout
*****************************/

@media screen and (min-width: 300px) and (max-width: 500px) {
  /* .box {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  } */

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    /* width: 250px; */
    text-align: center;
    padding: 4%;
    color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
    font-size: 2rem;
  }
  
  .score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    position: relative;
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 50%;
  }
  
  .score > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
  }

  .score h2 {
    font-weight: bold;
    font-size: 7em;
    margin: 0;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 50%);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .score-detail h3 {
    font-size: 2.3em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 60%);
    padding: 0 3em;
    font-size: 2em;
  }
  
  .summary {
    /* border-top-right-radius: 2em;
    border-bottom-right-radius: 2em; */
    padding: 1.5em 3em;
  }

  .summary-detail {
    padding: 0.5em 0;
    /* margin-bottom: 20px; */
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0 0 1.5em 0;
    border-radius: 10px;
    font-size: 1.5em
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  .button-wrapper {
    position: relative;
  }
  
  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 5% 25%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 10% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

/*****************************
  Tablet/Ipad Layout
*****************************/

@media screen and (min-width: 501px) and (max-width: 800px) {
.box {
    margin: 15%;
    display: flex;
/*  border: 1px solid black; */
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  }

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    text-align: center;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
    font-size: 1.8em;
    padding-bottom: 5%;
  }
  
  .score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    position: relative;
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 50%;
  }
  
  .score > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
  }

  .score h2 {
    font-weight: bold;
    font-size: 5em;
    margin: 0;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 50%);
    font-size: 1em;
    font-weight: bold;
  }
  
  .score-detail h3 {
    font-size: 2em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    font-size: 1.5em;
    padding: 2% 18% 5% 18%;
  }

  .summary {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 1% 5%;
    width: 50%;
  }
  
  .summary h2 {
    font-size: 1.7em;
  }

  .summary-detail {
    padding: 0.7em 0;
/*     margin-bottom: 20px; */
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    margin: 0.5em 0;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  .button-wrapper {
    position: relative;
  }
  
  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 10% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

/*****************************
    Laptop Layout
*****************************/
@media screen and (min-width: 801px) and (max-width: 1440px) {
  .box {
    margin: 10% 20%;
    display: flex;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  }

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    text-align: center;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
    font-size: 2em;
    padding-bottom: 5%;
  }
  
  .score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    position: relative;
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 50%;
  }
  
  .score > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
  }

  .score h2 {
    font-weight: bold;
    font-size: 5.5em;
    margin: 0;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 50%);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .score-detail h3 {
    font-size: 2.1em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    font-size: 1.5em;
    padding: 2% 18% 5% 18%;
  }

  .summary {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 1% 5%;
    width: 50%;
  }
  
  .summary h2 {
    font-size: 1.7em;
  }

  .summary-detail {
    padding: 3px 0;
/*     margin-bottom: 20px; */
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  .button-wrapper {
    position: relative;
  }
  
  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 10% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

/*****************************
    Desktop Layout
*****************************/
@media screen and (min-width: 1441px) {
  .box {
    margin: 10% 30%;
    display: flex;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  }

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    text-align: center;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
    font-size: 2em;
    padding-bottom: 5%;
  }
  
  .score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    position: relative;
    display: inline-block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 50%;
  }
  
  .score > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
  }

  .score h2 {
    font-weight: bold;
    font-size: 5.5em;
    margin: 0;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 50%);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .score-detail h3 {
    font-size: 2.1em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    font-size: 1.5em;
    padding: 2% 18% 5% 18%;
  }

  .summary {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 1% 5%;
    width: 50%;
  }
  
  .summary h2 {
    font-size: 1.7em;
  }

  .summary-detail {
    padding: 3px 0;
/*     margin-bottom: 20px; */
  }

  .summary-detail div {
    border: 1px solid black;
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  .button-wrapper {
    position: relative;
  }
  
  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 10% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}