.attribution {
    font-size: 11px; text-align: center;
    display: flex;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    display: flex;
}

body {
    font-family: Hanken Grotesk;
}

/*****************************
  Mobile Layout
*****************************/

@media screen and (min-width: 300px) and (max-width: 500px) {
  /* .box {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  } */

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 250px;
    text-align: center;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  }
  
  .score h2 {
    font-weight: bold;
    font-size: 3.6em;
    margin-bottom: 0;
    margin-top: .8em;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score-detail h3 {
    font-size: 1.5em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    padding: 0 1.8em;
  }

  .summary {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px;
/*     border-right: 1px solid grey;
    border-bottom: 1px solid grey; */
  }
  
/*  #description {
  font-size: 18px;
    font-weight: 200;
  } */

  .summary-detail {
    padding: 5px 0;
    margin-bottom: 20px;
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
  
}

/*****************************
    Laptop/Tablet Layout
*****************************/
@media screen and (min-width: 800px) and (max-width: 1864px) {
  .box {
    margin: 60px 600px;
    display: flex;
/*  border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 30px grey;
  }

 .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 250px;
    text-align: center;
    padding: 20px;
    color: hsl(0, 0%, 100%);
     border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  }
  
  .score h2 {
    font-weight: bold;
    font-size: 3.6em;
    margin-bottom: 0;
    margin-top: .8em;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score-detail h3 {
    font-size: 1.5em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    padding: 0 1.8em;
  }

  .summary {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px;
/*     border-right: 1px solid grey;
    border-bottom: 1px solid grey; */
  }
  
/*  #description {
  font-size: 18px;
    font-weight: 200;
  } */

  .summary-detail {
    padding: 5px 0;
    margin-bottom: 20px;
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
  
}

/*****************************
    Desktop Layout
*****************************/
@media screen and (min-width: 1785px) {
  .box {
    margin: 60px 650px;
    display: flex;
/*  border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 40px grey;
  }

  .result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 250px;
    text-align: center;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .result h1 {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  }
  
  .score h2 {
    font-weight: bold;
    font-size: 3.6em;
    margin-bottom: 0;
    margin-top: .5em;
  }
  
  .score span {
    color: hsla(0, 0%, 100%, 70%);
  }
  
  .score-detail h3 {
    font-size: 1.5em;
  }
  
  .score-detail p {
    color: hsla(0, 0%, 100%, 80%);
    padding: 0 1.8em;
  }

  .summary {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
/*  border-right: 1px solid grey;
    border-bottom: 1px solid grey; */
    padding: 1em;
  }

  .summary h2 {
    padding-left: 5px;
    margin-bottom: 0;
  }

  .summary-detail {
    padding: 5px 0;
    margin-bottom: 20px;
  }
  
  .reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .reaction {
    background-color: hsla(0, 100%, 67%, 5%);
  }
  
  .reaction > #reaction-name {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
  }

  .memory {
    background-color: hsla(39, 100%, 56%, 5%);
  }
  
  .memory > #memory-name {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
  }

  .verbal {
    background-color: hsla(166, 100%, 37%, 5%);
  }
  
  .verbal > #verbal-name {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
  }

  .visual {
    background-color:hsla(234, 85%, 45%, 5%);
  }
  
  .visual > #visual-name {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
  }

  button {
    background-color: hsl(224, 30%, 27%);
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0 20px 0;
    cursor: pointer;
    border-radius: 30px;
  }
  
  button:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
}